### Instagram product analysis.

In [9]:
#loading the dataset
import pandas as pd
import numpy as np
import seaborn as sns
IG_prod = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\datasets ds\data sets\Instagram_data.csv", encoding='ISO-8859-1')
IG_prod.head()

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Caption,Hashtags
0,3920,2586,1028,619,56,98,9,5,162,35,2,Here are some of the most important data visua...,#finance #money #business #investing #investme...
1,5394,2727,1838,1174,78,194,7,14,224,48,10,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...
2,4021,2085,1188,0,533,41,11,1,131,62,12,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...
3,4528,2700,621,932,73,172,10,7,213,23,8,Heres how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...
4,2518,1704,255,279,37,96,5,4,123,8,0,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...

In [10]:
#hecking the dataset shape
IG_prod.shape

(119, 13)

In [11]:
#dataset information
IG_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Impressions     119 non-null    int64
 1   From Home       119 non-null    int64
 2   From Hashtags   119 non-null    int64
 3   From Explore    119 non-null    int64
 4   From Other      119 non-null    int64
 5   Saves           119 non-null    int64
 6   Comments        119 non-null    int64
 7   Shares          119 non-null    int64
 8   Likes           119 non-null    int64
 9   Profile Visits  119 non-null    int64
 10  Follows         119 non-null    int64
 11  Caption         119 non-null    object
 12  Hashtags        119 non-null    object
dtypes: int64(11), object(2)
memory usage: 12.2+ KB

In [12]:
#summery statistics of the dataset
IG_prod.describe()

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows
count,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000
mean,5703.991597,2475.789916,1887.512605,1078.100840,171.092437,153.310924,6.663866,9.361345,173.781513,50.621849,20.756303
std,4843.780105,1489.386348,1884.361443,2613.026132,289.431031,156.317731,3.544576,10.089205,82.378947,87.088402,40.921580
min,1941.000000,1133.000000,116.000000,0.000000,9.000000,22.000000,0.000000,0.000000,72.000000,4.000000,0.000000
25%,3467.000000,1945.000000,726.000000,157.500000,38.000000,65.000000,4.000000,3.000000,121.500000,15.000000,4.000000
50%,4289.000000,2207.000000,1278.000000,326.000000,74.000000,109.000000,6.000000,6.000000,151.000000,23.000000,8.000000
75%,6138.000000,2602.500000,2363.500000,689.500000,196.000000,169.000000,8.000000,13.500000,204.000000,42.000000,18.000000
max,36919.000000,13473.000000,11817.000000,17414.000000,2547.000000,1095.000000,19.000000,75.000000,549.000000,611.000000,260.000000

### Data cleaning

In [13]:
#checking the exixtance of null values
IG_prod.isnull().any()

Impressions       False
From Home         False
From Hashtags     False
From Explore      False
From Other        False
Saves             False
Comments          False
Shares            False
Likes             False
Profile Visits    False
Follows           False
Caption           False
Hashtags          False
dtype: bool

### objective 1: Measuring the user interaction metrics

In [15]:
# average likes for the product from different users
IG_prod['Likes'].mean()

173.78151260504202

In [16]:
#shares average
IG_prod['Shares'].mean()

9.361344537815127

### Objective 2:  Content Performance Metrics:

### Popular Content:

In [17]:
IG_prod['Likes'].max()

549

### Objective 3: Check on the user engagement Metrics

View Counts: Determine the total number of IGTV video views. This might provide information on the popularity of the content.
Analyze the overall amount of time consumers spend watching IGTV videos. This measure represents user interest and interaction with the material.
Completion Rates: Determine how many users complete IGTV videos. Higher completion rates imply interesting content.

In [18]:
# this can be achieved by checking on the impressions.
IG_prod['Impressions'].sum()

678775

### Objective 4: Metrics for Content Performance:
Popular Articles: Determine the most popular IGTV videos and content categories. Examine the qualities of these videos to see what appeals to the audience.

In [19]:
#The content with the most views
IG_prod['Impressions'].max()

36919